<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
        />
        <title>Register</title>
    </head>
    <body>
        <form action="{{ url_for('register') }}" method="POST">
            {{ register_form.csrf_token }} {{ register_form.username.label }} {{
            register_form.username }} {{ register_form.name.label }} {{
            register_form.name }} {{ register_form.password.label }} {{
            register_form.password }} {{ register_form.submit }}
        </form>
    </body>
</html>
