<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
        />
        <title>User Data</title>
    </head>
    <body>
        <h1>
            Aca deberia estar tu informacion KP, y ya trajimos de la base de
            datos! Jupii!
        </h1>
        <h2>Datos del usuario registrado:</h2>
        <p>Username: {{ user.username }}</p>
        <p>Name: {{ user.name }}</p>
        <p>Password: {{ user.password }}</p>
    </body>
</html>
